.header__inner {
  padding: 20px 0;
}
.header__row {
  display: flex;
  align-items:center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  min-height: 60px;
}
.header-search input[type="text"]{
  padding: 7px 20px 7px;
  border: 1px solid #ccc;
  width: 20em;
  font-size: 14px;
  color: $black;
}
.header-search input:focus {
  border-color: $green;
}
.header__contact {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.header-contact-text {
  font-size: 15px;
}
.header__link {
  font-size: 14px;
  text-transform: uppercase;
  transition: color .2s linear;
}
.header__link:hover {
  color: $blue;
}