<section class="s-dark s-adv s-wige">
  <div class="container">
    <div class="adv__row">
      <div class="adv__col">
        <div class="adv__item">
          <h3><span>6</span> Лет на рынке</h3>
          <p>6 лет успешной работы на рынке промышленной вентиляции</p>
        </div>
      </div>
      <div class="adv__col">
        <div class="adv__item">
          <h3><span>150</span> Объектов</h3>
          <p>Более 150 выполненных работ по объектам</p>
        </div>
      </div>
      <div class="adv__col">
        <div class="adv__item">
          <h3><span>120</span> Партнёров</h3>
          <p>Более 120 партнеров и поставщиков</p>
        </div>
      </div>
      <div class="adv__col">
        <div class="adv__item">
          <h3><span>250 000 </span> кв. м.</h3>
          <p>Установленных воздуховодов</p>
        </div>
      </div>
    </div>
  </div>
</section>